<h1>Editing Post</h1>
<hr>
<%= render 'form', post: @post %>

<div class="btn-group ">
    <%= link_to 'Show', @post, class: "btn btn-outline-primary" %>
    <%= link_to 'Back', posts_path, class: "btn btn-outline-primary" %>
    <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-group-toggle"%>
</div>